## Dialogue Dataset

This notebook is for displaying several public dialogue dataset from web.

In [1]:
import pandas as pd

### Ubuntu Dialogue Dataset

**Description**: Mainly used for **Retrieval-based Chatbot**. Testing response selection algorithm. A dataset containing almost 1 million multi-turn dialogues, with a to- tal of over 7 million utterances and 100 million words.

[download link](http://dataset.cs.mcgill.ca/ubuntu-corpus-1.0/)

[Github link](https://github.com/rkadlec/ubuntu-ranking-dataset-creator)


Papers: 
1. Ryan Lowe, Nissan Pow, Iulian V. Serban and Joelle Pineau, **"The Ubuntu Dialogue Corpus: A Large Dataset for Research in Unstructure Multi-Turn Dialogue Systems"**, SIGDial 2015.
[arXiv:1506:08909](https://arxiv.org/abs/1506.08909)


pros:
1. Multi turn dialogues already processed;
2. Large dataset.

cons:
1. Task oriented;
2. Specified in Ubuntu problems.


Related works:

1. [Multi-Turn Response Selection for Chatbots with Deep Attention Matching Network](https://www.aclweb.org/anthology/P18-1103)

2. [Sequential Matching Network: A New Architecture for Multi-turn Response Selection in Retrieval-Based Chatbots](https://arxiv.org/pdf/1612.01627.pdf)

In [5]:
ubuntu_datapath = '../datasets/UbuntuDialogs/13/2.tsv'

In [11]:
ubuntu = pd.read_csv(ubuntu_datapath,sep='\t',header=None)
ubuntu.columns=[['time','ID1','ID2','context']]
ubuntu

,time,ID1,ID2,context
0,2004-11-08T11:19:00.000Z,Gmail,NaN,so i'll add it to my sources.list and use apt-src
1,2004-11-08T11:21:00.000Z,Gmail,NaN,and just use ubuntu
2,2004-11-08T11:22:00.000Z,Gmail,NaN,i say install ubuntu get (what its name vm-war...
3,2004-11-08T11:23:00.000Z,Gmail,NaN,its a lot more fun having not have to reboot t...
4,2004-11-08T11:23:00.000Z,Gmail,NaN,bur[n] er: there is a cheap one i here like $15
5,2004-11-08T11:25:00.000Z,Gmail,NaN,and linux is way better than xp and is free
6,2004-11-08T11:25:00.000Z,Gmail,NaN,i rather save $200 and run a better os
7,2004-11-08T11:26:00.000Z,Gmail,NaN,linux to winblows is like choc to poo
8,2004-11-08T11:26:00.000Z,lifeless,Gmail,you have chocolate poo?
9,2004-11-08T11:29:00.000Z,Gmail,lifeless,i said linux compard to winblows is like choc ...
10,2004-11-12T14:52:00.000Z,Gmail,lifeless,you can't use cat
11,2004-11-12T14:53:00.000Z,lifeless,Gmail,"*I* can, dunno about you :)"
12,2004-11-12T14:54:00.000Z,lifeless,Gmail,local anaesthetic.

### Film corpus V2

**Description**:
This corpus is an updated version of the Film Corpus 1.0. It contains complete texts for the scripts of 1068 films in txt files, scraped from imsdb.com on Nov, 2015 using scrapy. It also contains 960 film scripts where the dialog in the film has been separated from the scene descriptions.

[Download link](https://nlds.soe.ucsc.edu/fc2)

Papers:
1. Walker, Marilyn A., Ricky Grant, Jennifer Sawyer, Grace I. Lin, Noah Wardrip-Fruin, and Michael Buell. ["Perceived or Not Perceived: Film Character Models for Expressive NLG."](http://citeseerx.ist.psu.edu/viewdoc/download?doi=10.1.1.380.9026&rep=rep1&type=pdf) BEST PAPER AWARD. In International Conference on Interactive Digital Storytelling (ICIDS), Vancouver, Canada, 2011.


2. Marilyn A. Walker, Grace I. Lin, Jennifer E. Sawyer. ["An Annotated Corpus of Film Dialogue for Learning and Characterizing Character Style."](http://www.lrec-conf.org/proceedings/lrec2012/pdf/1114_Paper.pdf) In Proceedings of the 8th International Conference on Language Resources and Evaluation (LREC), Istanbul, Turkey, 2012.

In [13]:
filmcorpus_datapath = '../datasets/FilmCorpusV2/dialogs/Action/15minutes_dialog.txt'

In [19]:
filmcorpus = pd.read_csv(filmcorpus_datapath,sep='\t',header=None,skiprows=5)

In [105]:
import re,chardet, os

In [250]:
from smart_open import smart_open
class FilmCorpus(object):
    def __init__(self, dirname):
        self.dirname = dirname
 
    def __iter__(self):
        regex = r"^\b[A-Z].*?[A-Z]+\b$"
        for line in smart_open(os.path.join(self.dirname), 'rb'):
            encode_type = chardet.detect(line) 
            line = line.decode(encode_type['encoding']) #进行相应解码，赋给原标识符（变量）
            line = re.sub(u"\\(.*?\\)|\\{.*?}|\\[.*?]|\\♪.*?♪|\\#.*?#|\\=.*?=|\\¶.*?¶", "", line)
            line = line.lstrip().rstrip()
            # label = 1 if re.findall(regex,line) else 0
            label = 1 if line.isupper() else 0
            if line:
                yield {'label':label,'line':line}

In [251]:
test = FilmCorpus(filmcorpus_datapath)
test = pd.DataFrame(test)

In [253]:
test.label.sum()

1035

In [256]:
speakers = []
lines = []
i = test.label.to_list().index(1)
while i < len(test)-1:
    if test.loc[i].label==1:
        speaker = test.loc[i].line
        speakers.append(speaker)
        i += 1
        if i == len(test)-1:
            break
        line = test.loc[i].line
        while test.loc[i].label!=1:
            line = ' '.join((line,test.loc[i].line))
            i += 1
            if i == len(test)-1: break
        lines.append(line)

In [257]:
pd.DataFrame({'Speaker':speakers,'Line':lines})

                  Speaker                                               Line
0                    EMIL  Just do what I do.  Say the same thing I Just ...
1                    OLEG                                        Okay. Okay.
2                    EMIL              Don't fool around. Don't fool around.
3                    OLEG                                        Okay. Okay.
4                    EMIL  Did you hear what I said? Did you hear what I ...
5                    OLEG  I want to document my trip to America. I want ...
6     IMMIGRATION OFFICER    Next. Next. Could I see your documents, please?
7                    EMIL                                  Yes sir. Yes sir.
8     IMMIGRATION OFFICER  What is your intended purpose of your What is ...
9                    EMIL              Two weeks holiday. Two weeks holiday.
10    IMMIGRATION OFFICER  How much money are you carrying with How much ...
11                   EMIL  I have five-hundred dollars. I have five-hundr...
12    IMMIGRATION OFFICER  Can you show me?  Sir, no cameras in the Can y...
13    IMMIGRATION OFFICER  Is he with you?  Are you travelling Is he with...
14                   EMIL                                          Yes. Yes.
15    IMMIGRATION OFFICER   Please join us. Please join us. Come on forward.
16                   EMIL            Is there a problem? Is there a problem?
17    IMMIGRATION OFFICER  No, you're travelling together.  I want No, yo...
18                   OLEG        Yes...he's my friend. Yes...he's my friend.
19    IMMIGRATION OFFICER  Okay.  You're a Czech national and Okay.  You'...
20                   EMIL  We are both from Prague. We are both from Prague.
21    IMMIGRATION OFFICER  How long are you planning to stay? How long ar...
22                   EMIL                              Two weeks. Two weeks.
23    IMMIGRATION OFFICER  I'd like to speak for himself, okay? I'd like ...
24                   EMIL  He doesn't speak English. He doesn't speak Eng...
25                   OLEG                  I speak English. I speak English.
26    IMMIGRATION OFFICER  Then answer my questions.  Where were Then ans...
27                   OLEG                                New York. New York.
28    IMMIGRATION OFFICER  Yes, we're in New York now.  But where Yes, we...
29                   OLEG                      A cheap hotel. A cheap hotel.
...                   ...                                                ...
1004                 OLEG  No.  You are the traitor.  You are No.  You ar...
1005              CAPTAIN  Drop the gun!  DON'T SHOOT! Drop the gun!  DON...
1006                 EMIL  I'll kill her!  Back off!  Everyone back I'll ...
1007                JORDY  Let her go.  Let her fucking go!! Let her go. ...
1008              CAPTAIN  No one shoot!  Lower your weapons!  Do No one ...
1009              CAPTAIN  Holster your weapons!  Back away.  That Holste...
1010                 EMIL  Tell him to put his gun down! Tell him to put ...
1011                JORDY  Let her go!  Let her go!! Let her go!  Let her...
1012                 EMIL  If he doesn't lower his gun I'll fucking If he...
1013                JORDY                            Let her go. Let her go.
1014            NICOLETTE            Shoot!  Shoot him!! Shoot!  Shoot him!!
1015                 EMIL                                  Shut up! Shut up!
1016              CAPTAIN  No on shoot!  No one shoot!!  No officer No on...
1017            NICOLETTE  Shoot!  Shoot!  Shoot him!! Shoot!  Shoot!  Sh...
1018                 EMIL                                  Shut up! Shut up!
1019                 EMIL  I'll surrender!! I'll surrender if he I'll sur...
1020            NICOLETTE  Don't.  Don't let him surrender.  Shoot Don't....
1021                JORDY  Let her go.  Let her go. Let her go.  Let her go.
1022              CAPTAIN  Lower your weapon.  I told you - lower Lower y...
1023              CAPTAIN  I told you not to shoot!  No officers I told y...
1024                JORDY  I'm not a cop.  I'm a fire marshal. I'm not a ...
1025              HAWKINS                He's still alive. He's still alive.
1026                 OLEG  A film...by Oleg Razgul. A film...by Oleg Razgul.
1027                 OLEG                        How was that? How was that?
1028            NICOLETTE  Wait a minute.  Where are you going? Wait a mi...
1029                JORDY                              No thanks. No thanks.
1030            NICOLETTE                                          Cut. Cut.
1031            NICOLETTE  Get a shot of him leaving.  Then pan to Get a ...
1032            NICOLETTE  Well, he wouldn't talk to us, but you Well, he...
1033            NICOLETTE  New York City has a new hero, Fire New York Ci...

[1034 rows x 2 columns]

### TV data

**Description**: Dialogue from tbbt, friends and Cornel movie dialog. For emotion analysis.

pros:
1. Neatly cleaned;
2. well separated lines.

cons:
1. Small dataset (412826 rows);
2. Not implying dialogue boundaries.

In [31]:
TVdata_datapath = '../datasets/TVdata/2Processed/Aggregated_Dialogues.csv'

In [32]:
TVdata = pd.read_csv(TVdata_datapath)

/anaconda3/envs/semester/lib/python3.6/site-packages/IPython/core/interactiveshell.py:3044: DtypeWarning: Columns (3,4) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [38]:
TVdata.head(5)

,Unnamed: 0,Unnamed: 0.1,Actor,MovieId,SeriesName,Subtitle,Emotionalities Lexicon Based,Emotion Categories Lexicon Based
0,0,0,Sheldon,NaN,BBT,so if a photon is directed through a plane wi...,21,Neutral
1,1,1,Leonard,NaN,BBT,"agreed, what is your point?",21,Neutral
2,2,2,Sheldon,NaN,BBT,"there is no point, i just think it is a good ...",21,Neutral
3,3,3,Leonard,NaN,BBT,excuse me?,21,Neutral
4,4,4,Receptionist,NaN,BBT,hang on.,21,Neutral

### The Office (US) Episode Scripts

**Description**: 59909 rows, 9161 scenes.

Read more: https://www.springfieldspringfield.co.uk/episode_scripts.php?tv-show=the-office-us

[Download link](https://data.world/abhinavr8/the-office-scripts-dataset)

pros:
1. neatly cleaned；
2. labelled with speakers and dialogue boundaries (scene)

cons:
1. small dataset;
2. not all scenes have dialogue. 5987/9161.

In [34]:
officescript_datapath = '../datasets/US-office-scripts/the-office-lines - scripts.csv'

In [35]:
officescript = pd.read_csv(officescript_datapath)

In [50]:
officescript.head(6)

,id,season,episode,scene,line_text,speaker,deleted
0,1,1,1,1,All right Jim. Your quarterlies look very good...,Michael,False
1,2,1,1,1,"Oh, I told you. I couldn't close it. So...",Jim,False
2,3,1,1,1,So you've come to the master for guidance? Is ...,Michael,False
3,4,1,1,1,"Actually, you called me in here, but yeah.",Jim,False
4,5,1,1,1,"All right. Well, let me show you how it's done.",Michael,False
5,6,1,1,2,"[on the phone] Yes, I'd like to speak to your ...",Michael,False

In [51]:
test = officescript.groupby(['season','episode','scene']).count().reset_index()
test.loc[test.id>1].count()

season       5987
episode      5987
scene        5987
id           5987
line_text    5987
speaker      5987
deleted      5987
dtype: int64

In [49]:
test.describe()

,season,episode,scene,id,line_text,speaker,deleted
count,9161.000000,9161.000000,9161.000000,9161.00000,9161.00000,9161.00000,9161.00000
mean,5.193865,11.544045,27.895317,6.53957,6.53957,6.53957,6.53957
std,2.442073,7.095069,19.245451,7.17049,7.17049,7.17049,7.17049
min,1.000000,1.000000,1.000000,1.00000,1.00000,1.00000,1.00000
25%,3.000000,5.000000,13.000000,1.00000,1.00000,1.00000,1.00000
50%,5.000000,11.000000,25.000000,4.00000,4.00000,4.00000,4.00000
75%,7.000000,18.000000,39.000000,10.00000,10.00000,10.00000,10.00000
max,9.000000,26.000000,116.000000,75.00000,75.00000,75.00000,75.00000

### Stanford Dialog Dataset
**Description**: Task Oriented	car autopilot agent: schedule, weather, navigation

In [52]:
standford_datapath = '../datasets/StandfordDialog/kvret_train_public.json'

In [53]:
import json

In [56]:
#Read JSON data into the datastore variable
with open(standford_datapath, 'r') as f:
    datastore = json.load(f)

In [59]:
datastore[0]['dialogue']

[{'turn': 'driver',
  'data': {'end_dialogue': False,
   'utterance': "where's the nearest parking garage"}},
 {'turn': 'assistant',
  'data': {'end_dialogue': False,
   'requested': {'distance': True,
    'traffic_info': False,
    'poi_type': True,
    'address': True,
    'poi': False},
   'slots': {'distance': 'nearest', 'poi_type': 'parking garage'},
   'utterance': 'The nearest parking garage is Dish Parking at 550 Alester Ave. Would you like directions there? '}},
 {'turn': 'driver',
  'data': {'end_dialogue': False,
   'utterance': 'Yes, please set directions via a route that avoids all heavy traffic if possible. '}},
 {'turn': 'assistant',
  'data': {'end_dialogue': False,
   'requested': {'distance': False,
    'traffic_info': True,
    'poi_type': False,
    'address': False,
    'poi': True},
   'slots': {'traffic_info': 'avoid heavy traffic ', 'poi': 'dish parking'},
   'utterance': 'It looks like there is a road block being reported on the route but I will still find the quickest route to 550 Alester Ave. '}},
 {'turn': 'driver',
  'data': {'end_dialogue': False,
   'utterance': 'Thanks so much for your help. '}},
 {'turn': 'assistant',
  'data': {'end_dialogue': True,
   'requested': {'distance': False,
    'traffic_info': False,
    'poi_type': False,
    'address': False,
    'poi': False},
   'slots': {},
   'utterance': "You're very welcome!"}}]

### Cornell Dialogue Dataset

**Description**: 220,579 conversational exchanges between 10,292 pairs of movie characters; involves 9,035 characters from 617 movies; in total 304,713 utterances.

pros:

1. neatly cleaned, aligned with speakers

cons:

1. not very large

In [12]:
cornell_datapath = '../datasets/cornell-corpus/movie_conversations.tsv'

In [18]:
cornell = pd.read_csv(cornell_datapath,sep='\t',header=None)
cornell.columns = ['ID1','ID2','MovieID','context']

In [19]:
cornell.head(5)

  ID1 ID2 MovieID                        context
0  u0  u2      m0  ['L194' 'L195' 'L196' 'L197']
1  u0  u2      m0                ['L198' 'L199']
2  u0  u2      m0  ['L200' 'L201' 'L202' 'L203']
3  u0  u2      m0         ['L204' 'L205' 'L206']
4  u0  u2      m0                ['L207' 'L208']

In [20]:
cornell.count()

ID1        83097
ID2        83097
MovieID    83097
context    83097
dtype: int64

In [22]:
83097/617

134.67909238249595

### Scripts data set

In [4]:
import pandas as pd
script_datapath = '/Users/yan/Documents/document/EPFL/MA2/semesterprj/datasets/scripts/script_data_set.csv'
pd.read_csv(script_datapath).head()

,Speaker,Line,Label,MovieID,MovieName
0,MODERATOR,Tonight we'll discuss a subject most of us see...,1,m478,Midnight-Cowboy
1,IRATE WOMAN,"They always put it that way, but well, all it ...",1,m478,Midnight-Cowboy
2,COOL WOMAN,"This, this image of the, the man eating woman....",1,m478,Midnight-Cowboy
3,SAD WOMAN,"No, I never had, well, whatever it is you call...",1,m478,Midnight-Cowboy
4,SAD WOMAN'S VOICE,... but it's a problem. A big problem. With so...,1,m478,Midnight-Cowboy